@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap");

:root {
	--transparency-backdrop: rgba(255, 255, 255, 0.2);
	--transparency-backdrop-darker: rgba(255, 255, 255, 0.4);
	--color-text: rgb(236, 236, 236);
	--color-text-alt: rgba(218, 218, 218, 0.466);
	--blend: normal;
	--error-color: #e63939;
	--ff: Poppins, sans-serif;
}
:root.light {
	--transparency-backdrop: rgba(46, 46, 46, 0.4);
	--transparency-backdrop-darker: rgba(46, 46, 46, 0.6);
}
:root.night {
	--blend: soft-light;
}

*,
*::after,
*::before {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: var(--ff);
}

body {
	height: calc(var(--vh) * 100px);
	width: 100vw;
	display: grid;
	background-image: var(--url-img);
	background-position-y: var(--bposition, 0%);
	background-size: auto;
	background-repeat: no-repeat;
	background-color: rgba(0, 8, 24, 0.86);
	background-blend-mode: var(--blend);
	padding: 1rem 1rem;
	grid-template: max-content 1fr auto/ auto;
	color: var(--color-text);
}

header {
	display: flex;
	gap: 1rem;
	justify-self: end;
}

#c-to-f-switch {
	position: relative;
	margin-top: 8px;
	background-color: var(--transparency-backdrop);
	width: 50px;
	height: 25px;
	z-index: 100;
	border-radius: 99vh;
	cursor: pointer;
	overflow: hidden;
	box-shadow: 0 0 0 1px var(--transparency-backdrop-darker);
}

#c-to-f-switch::before {
	position: absolute;
	content: "°C";
	z-index: 10;
	left: 2px;
	top: 50%;
	transform: translateY(-50%);
	color: black;
	font-weight: 800;
	transition: color 0.25s ease;
}

#c-to-f-switch::after {
	position: absolute;
	content: "°F";
	right: 6px;
	top: 50%;
	transform: translateY(-50%);
	color: var(--color-text);
	font-weight: 400;
	transition: color 0.25s ease;
}

#c-to-f-switch.to-f::before {
	font-weight: 400;
	color: var(--color-text);
}
#c-to-f-switch.to-f::after {
	font-weight: 800;
	color: black;
}

#c-to-f {
	display: none;
}

#c-to-f-switch .switch {
	position: absolute;
	top: 0;
	left: 0;
	height: 25px;
	width: 25px;
	background-color: var(--transparency-backdrop-darker);
	border-radius: 50%;
	transition: transform 0.25s ease;
}

#c-to-f-switch.to-f .switch {
	transform: translateX(100%);
}

form {
	display: grid;
	grid-template: auto auto / 1fr auto;
	justify-self: end;
	gap: 5px 0;
	--error-text: var(--color-text);
}

input {
	height: 40px;
	background-color: var(--transparency-backdrop);
	border-radius: 10px 0 0 10px;
	padding: 5px 0px 5px 10px;
	color: var(--color-text);
	outline: none;
	border: 0px solid transparent;
	font-size: 1.2rem;
	backdrop-filter: blur(50px);
}

input:focus {
	border: 1px solid var(--color-text);
	border-right: none;
}

button {
	backdrop-filter: blur(50px);
	height: 40px;
	width: 40px;
	padding: 10px;
	background-color: var(--transparency-backdrop-darker);
	outline: none;
	cursor: pointer;
	border-radius: 0 10px 10px 0;
	border: 0px solid transparent;
}

input::placeholder {
	color: var(--color-text-alt);
}

input:focus + button {
	border: 1px solid var(--color-text);
	border-left: 0px solid transparent;
}

form.error {
	--error-text: var(--error-color);
}

form.error input {
	border: 1px solid var(--error-color);
	border-right: 0px solid transparent;
}

form.error button {
	border: 1px solid var(--error-color);
	border-left: 0px solid transparent;
}

.error-text {
	text-transform: capitalize;
	grid-column: 1 / 3;
	font-weight: 400;
	color: var(--error-text);
	visibility: hidden;
}

.error-text.show {
	visibility: visible;
}

button svg {
	display: block;
	height: 100%;
	width: auto;
	pointer-events: none;
}

button svg path {
	fill: var(--color-text);
}

main {
	align-self: center;
	justify-self: center;
}

.weather-container {
	backdrop-filter: blur(50px);
	padding: 2rem;
	display: grid;
	border-radius: 10px;
	gap: 1rem;
	background-color: var(--transparency-backdrop);
	user-select: none;
	font-size: 1rem;
}

.weather-container h1 {
	position: relative;
	line-height: 1;
	width: max-content;
	font-size: 8em;
}

.weather-container h1::after {
	position: absolute;
	content: attr(data-unit);
	font-size: small;
	transform: scale(2.2);
	margin-left: 0.5rem;
	top: 15%;
	font-weight: 300;
}

.weather-info {
	display: grid;
	grid-template: 1fr / repeat(2, auto);
	gap: 3rem;
	align-items: center;
	text-transform: capitalize;
}

.minor-info {
	display: grid;
	gap: 1rem;
	width: max-content;
	list-style: none;
	font-size: 1.2em;
	padding-inline: 1rem 2rem;
	border-left: 1px solid var(--color-text);
}

#feels {
	position: relative;
}
.minor-info > *::after {
	position: absolute;
}

#feels::after {
	content: attr(data-unit);
}

#humidity::after {
	content: "%";
}

footer {
	font-size: 1.2rem;
	display: flex;
	justify-self: start;
	backdrop-filter: blur(20px);
	height: 40px;
	border-radius: 10px;
	padding: 5px 10px;
	background-color: var(--transparency-backdrop);
	gap: 5px;
	align-items: center;
}

footer a {
	font-weight: 600;
	display: block;
	border-radius: 8px;
	/* background-color: var(--transparency-backdrop); */
	/* padding: 0px 5px; */
	color: var(--color-text);
	/* text-decoration: none; */
}

footer a:hover {
	/* text-decoration: underline; */
}

@media screen and (max-width: 480px) {
	body {
		padding: 0.5rem;
	}
	input {
		width: 200px;
	}

	.weather-container {
		font-size: 0.7rem;
		padding: 1rem;
	}

	.weather-info {
		gap: 2.5rem;
	}

	.minor-info {
		padding-right: 1rem;
	}
	footer {
		font-size: 0.8rem;
	}

	footer a {
		border-radius: 4px;
	}
}
