@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap");

:root {
	--transparency-backdrop: rgba(255, 255, 255, 0.2);
	--transparency-backdrop-darker: rgba(255, 255, 255, 0.4);
	--color-text: rgb(236, 236, 236);
	--color-text-alt: rgba(218, 218, 218, 0.466);
	--blend: normal;
	--error-color: #e63939;
	--ff: Poppins, sans-serif;
}
:root.light {
	--transparency-backdrop: rgba(46, 46, 46, 0.4);
	--transparency-backdrop-darker: rgba(46, 46, 46, 0.6);
}
:root.night {
	--blend: soft-light;
}

*,
*::after,
*::before {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: var(--ff);
}
body {
	height: 100vh;
	width: 100vw;
	display: grid;
	background-image: var(--url-img);
	background-position-y: var(--bposition, 0%);
	background-size: auto;
	background-repeat: no-repeat;
	background-color: rgba(0, 8, 24, 0.86);
	background-blend-mode: var(--blend);
	padding: 2rem 1rem;
	grid-template: max-content 1fr / auto;
	color: var(--color-text);
}

form {
	display: grid;
	/* width: 350px; */
	grid-template: auto auto / 1fr auto;
	justify-self: end;
	gap: 5px 0;
	--error-text: var(--color-text);
}

input {
	height: 40px;
	/* width: 200px; */
	background-color: var(--transparency-backdrop);
	border-radius: 10px 0 0 10px;
	padding: 5px 0px 5px 10px;
	color: var(--color-text);
	outline: none;
	border: 0px solid transparent;
	font-size: 1.2rem;
	backdrop-filter: blur(50px);
}

input:focus {
	border: 1px solid var(--color-text);
	border-right: none;
}

button {
	backdrop-filter: blur(50px);
	height: 40px;
	width: 40px;
	padding: 10px;
	/* background-color: rgba(255, 255, 255, 0.3); */
	background-color: var(--transparency-backdrop-darker);
	outline: none;
	cursor: pointer;
	border-radius: 0 10px 10px 0;
	border: 0px solid transparent;
}

input::placeholder {
	color: var(--color-text-alt);
}

input:focus + button {
	border: 1px solid var(--color-text);
	border-left: 0px solid transparent;
}

form.error {
	--error-text: var(--error-color);
}

form.error input {
	border: 1px solid var(--error-color);
	border-right: 0px solid transparent;
}

form.error button {
	border: 1px solid var(--error-color);
	border-left: 0px solid transparent;
}

.error-text {
	text-transform: capitalize;
	grid-column: 1 / 3;
	font-weight: 400;
	color: var(--error-text);
	visibility: hidden;
}

.error-text.show {
	visibility: visible;
}

button svg {
	display: block;
	height: 100%;
	width: auto;
	pointer-events: none;
}

button svg path {
	fill: var(--color-text);
}

.weather-container {
	backdrop-filter: blur(50px);
	padding: 2rem;
	display: grid;
	align-self: center;
	border-radius: 10px;
	gap: 1rem;
	background-color: var(--transparency-backdrop);
	user-select: none;
	justify-self: center;
	font-size: 1rem;
}

.weather-container h1 {
	position: relative;
	line-height: 1;
	width: max-content;
	font-size: 8em;
}

.weather-container h1::after {
	position: absolute;
	content: "°C";
	font-size: small;
	transform: scale(2.2);
	margin-left: 0.5rem;
	top: 15%;
	font-weight: 300;
}

.weather-info {
	display: grid;
	grid-template: 1fr / repeat(2, auto);
	gap: 3rem;
	align-items: center;
	text-transform: capitalize;
}

.minor-info {
	display: grid;
	gap: 1rem;
	width: max-content;
	list-style: none;
	font-size: 1.2em;
	padding-inline: 1rem 2rem;
	border-left: 1px solid var(--color-text);
}

#feels {
	position: relative;
}
.minor-info > *::after {
	position: absolute;
	width: max-content;
}

#feels::after {
	content: "°C";
}

#humidity::after {
	content: "%";
}

@media screen and (max-width: 480px) {
	input {
		width: 200px;
	}

	.weather-container {
		font-size: 0.8rem;
		padding: 1rem;
	}

	.weather-info {
		gap: 2.5rem;
	}

	.minor-info {
		padding-right: 1rem;
	}
}
